{
  "presets": [["next/babel", { "transform-runtime": { "useESModules": false } }]],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
