@import "node_modules/include-media/dist/include-media";

$breakpoints: (
  small: 376px,
  medium: 768px,
  large: 1024px,
  huge: 1200px
);

$medium-width: 768px;

$border-radius: 5px;

$border-color: #ddd;

$default-width: 600px;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin box($width) {
  width: $width;
  padding: 10px;
  @include flex-column();
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  background: white;
  border-radius: $border-radius;
}

@mixin absolute-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin shadow($amount: 0.16) {
  box-shadow: 0 0 3px rgba(0, 0, 0, $amount);
}

@mixin button-default {
  display: block;
  padding: 5px 10px;
  font-weight: thin;
  font-size: 1rem;
  border-radius: $border-radius;
  text-align: center;
}

@mixin button {
  @include button-default();
  background: black;
  color: white;
  border: 1px solid black;

  &:active {
    color: black;
    background: white;
  }
}

@mixin button-reverse {
  @include button-default();
  background: white;
  color: black;
  border: 1px solid black;

  &:active {
    color: white;
    background: black;
  }
}

@mixin show() {
  animation: show-animation 0.5s;
  @keyframes show-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
